<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
        <meta http-equiv="Pragma" content="no-cache"/>
        <meta http-equiv="Expires" content="0"/>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/portal-layout.css">
        <link rel="stylesheet" type="text/css" href="css/additional.css">
        <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
        <link rel="stylesheet" type="text/css" href="css/login.css">
        <link rel="stylesheet" type="text/css" href="css/declaration.css">
        <link rel="stylesheet" href="css/flag-icon.min.css">
        <link rel="stylesheet" href="css/resetpasswd.css">

        <script type="text/javascript" src="js/angular-bootstrap/jquery.js"></script>
        <script type="text/javascript" src="js/angular-bootstrap/angular.min.js"></script>
        <script type="text/javascript" src="js/angular-bootstrap/angular-local-storage.js"></script>
        <script type="text/javascript" src="js/angular-bootstrap/angular-translate.min.js"></script>
        <script type="text/javascript" src="js/angular-bootstrap/angular-translate-loader-static-files.min.js"></script>
        <script type="text/javascript" src="js/angular-bootstrap/underscore.js"></script>
        <script type="text/javascript" src="js/angular-bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/angular-bootstrap/ui-bootstrap.min.js"></script>
        <script type="text/javascript" src="js/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <!-- User define -->
        <script type="text/javascript" src="js/user-custom/main.js"></script>
        <script type="text/javascript" src="js/user-custom/action-service.js"></script>
        <script type="text/javascript" src="js/user-custom/main-constant.js"></script>
        <script type="text/javascript" src="js/user-custom/portal-param.js"></script>
        <script type="text/javascript" src="js/user-custom/style.js"></script>
        <script type="text/javascript" src="js/user-custom/service.js"></script>
        <script type="text/javascript" src="js/user-custom/resetpasswd-controller.js"></script>

        

    </head>
    <body ng-app="main" ng-controller="resetPasswdController as vm">
        <div class="container-fluid" id="resetpasswd-layout"><!-- wma-map-content portal_layout_container -->
            <!-- Language List, Country Flag -->
            <div class="row header-wrapper">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 header-content" ng-style="welcomeLogoBg">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9">
                        <img 
                            id="welcome_logo" 
                            ng-src="{{vm.welcome_logo}}"
                            style="cursor: pointer"
                            ng-click="vm.action.welcomeLinkedUrl()" />
                    </div>
                    <div class="flag-wrapper">
                        <div class="dropdown language-dropdown pull-right">
                            <a 
                                data-toggle="dropdown"
                                class="dropdown-toggle language-icon pointer">
                                <span ng-class="vm.languageIcon"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="btn btn-block" ng-click="vm.action.switching('us')"><span
                                    class="flag-icon flag-icon-world" style="line-height:1.3em;"></span> English
                                </li>
                                <li class="btn btn-block" ng-click="vm.action.switching('cn')"><span
                                        class="flag-icon flag-icon-cn"></span> 中文
                                </li>
                                <li class="btn btn-block" ng-click="vm.action.switching('de')"><span
                                        class="flag-icon flag-icon-de"></span> Deutsch
                                </li>
                                <li class="btn btn-block" ng-click="vm.action.switching('fi')"><span
                                        class="flag-icon flag-icon-fi"></span> Suomalainen
                                </li>
                                <li class="btn btn-block" ng-click="vm.action.switching('fr')"><span
                                        class="flag-icon flag-icon-fr"></span> Français
                                </li>
                                <li class="btn btn-block" ng-click="vm.action.switching('nl')"><span
                                        class="flag-icon flag-icon-nl"></span> Nederlands
                                </li>
                                <li class="btn btn-block" ng-click="vm.action.switching('no')"><span
                                        class="flag-icon flag-icon-no"></span> Norsk språk
                                </li>
                                <li class="btn btn-block" ng-click="vm.action.switching('es')"><span
                                        class="flag-icon flag-icon-es"></span> Español
                                </li>
                                <li class="btn btn-block" ng-click="vm.action.switching('kr')"><span
                                        class="flag-icon flag-icon-kr"></span> 한국어
                                </li>
                                <li class="btn btn-block" ng-click="vm.action.switching('pl')"><span
                                        class="flag-icon flag-icon-pl"></span> Polski
                                </li>
                                <li class="btn btn-block" ng-click="vm.action.switching('br')"><span
                                        class="flag-icon flag-icon-br"></span> Português
                                </li>
                                <li class="btn btn-block" ng-click="vm.action.switching('it')"><span
                                        class="flag-icon flag-icon-it"></span> Italiano
                                </li>
                                <li class="btn btn-block" ng-click="vm.action.switching('se')"><span
                                        class="flag-icon flag-icon-se"></span> Svenska
                                </li>
                                <li class="btn btn-block" ng-click="vm.action.switching('tr')"><span
                                        class="flag-icon flag-icon-tr"></span> Türkçe
                                </li>
                                <li class="btn btn-block" ng-click="vm.action.switching('ro')"><span
                                        class="flag-icon flag-icon-ro"></span> România
                                </li>
                                <li class="btn btn-block" ng-click="vm.action.switching('lv')"><span  class="flag-icon flag-icon-lv" ></span> Latvietis</li>
                                <li class="btn btn-block" ng-click="vm.action.switching('lt')"><span  class="flag-icon flag-icon-lt" ></span> Lietuvis</li>
                                <li class="btn btn-block" ng-click="vm.action.switching('gr')"><span  class="flag-icon flag-icon-gr" ></span> Ελληνικά</li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="row"><!-- col-md-12 no-padding-left-right -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div id="welcome_bg" class="welcome_portal_layout_function_bg" style="position: relative" ng-style="welcomeBgStyle">
                        <div 
                            class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1  welcome-container-body "
                            id="chohei"
                            ng-style="welcomeBgColorStyle">
                            <form class="form-horizontal" role="form" name="resetPasswdForm">
                                <div class="form-group">
                                    <span class="control-label" style="font-size:20px;">{{'resetpasswd.title'|translate}}</span>
                                </div>
                                <!-- User Name -->
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12">
                                        <input 
                                            type="text" 
                                            name="username"
                                            class="form-control"
                                            placeholder="{{'login.username' | translate}}"
                                            validator="vm.action.rules.username"
                                            ng-model="vm.username">
                                        <span class="han-validator-error">{{resetPasswdForm.username.$error.errMessage | translate}}</span>
                                    </div>
                                </div>
                                <!-- Verify Via -->
                                <div class="form-group">
                                    <span class="col-lg-4 col-md-3 control-label" id="verifyViaText">
                                        {{'resetpasswd.verificationVia' | translate}}
                                    </span>
                                    <div class="col-md-8">
                                        <label class="radio-inline" ng-if="vm.pwdReset == 1 || vm.pwdReset == 3">
                                            <input type="radio" name="byEmail" id="byEmail" value="1" ng-model="vm.verifyVia">{{'resetpasswd.email' | translate}}
                                        </label>
                                        <label class="radio-inline" ng-if="vm.pwdReset == 2 || vm.pwdReset == 3">
                                            <input type="radio" name="byTelephone" id="byTelephone" value="2" ng-model="vm.verifyVia">{{'resetpasswd.telephone' | translate}}
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <!-- Email display -->
                                    <div 
                                        class="col-lg-7 col-md-7 col-sm-12 col-xs-12" 
                                        ng-if="vm.verifyVia == 1">
                                        <input 
                                            type="text" 
                                            class="form-control"
                                            ng-model="vm.receiveTarget"
                                            placeholder="{{'resetpasswd.email' | translate}}" 
                                            disabled="disabled">
                                    </div>
                                    <!-- Telephone number display -->
                                    <div 
                                        class="col-lg-7 col-md-7 col-sm-12 col-xs-12" 
                                        ng-if="vm.verifyVia == 2">
                                        <input 
                                            type="text" 
                                            class="form-control"
                                            ng-model="vm.receiveTarget"
                                            placeholder="{{'resetpasswd.telephone' | translate}}" 
                                            disabled="disabled">
                                    </div>
                                    <!-- Get Verify Code button -->
                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                        <button
                                            class="btn btn-primary btn-block han-text-ellipsis" 
                                            title="{{'resetpasswd.getVerifyCode' | translate}}"
                                            ng-if="!vm.timingFlag"
                                            ng-disabled="!vm.username"
                                            ng-click="vm.getVerifyCode()">
                                            {{"resetpasswd.getVerifyCode" | translate}}
                                        </button>
                                        <button 
                                            class="btn btn-primary btn-block han-text-ellipsis"
                                            ng-if="vm.timingFlag"
                                            title="{{'resetpasswd.timingBtnName' | translate: timing}}"
                                            disabled="disabled">
                                            {{"resetpasswd.timingBtnName" | translate: timing}}
                                        </button>
                                    </div>
                                </div>                                   
                                <!-- Verification Code -->
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input
                                            type="text"
                                            name="verifyCode"
                                            class="form-control"
                                            placeholder="{{'resetpasswd.verificationCode' | translate}}"
                                            ng-model="vm.verifyCode"
                                            oninput="value=value.replace(/[^\d]/g,'')"
                                            maxlength="6"
                                            validator="vm.action.rules.verifyCode">
                                        <span class="han-validator-error">{{resetPasswdForm.verifyCode.$error.errMessage | translate}}</span>
                                    </div>
                                </div>
                                <!-- New Password -->
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input 
                                            type="password" 
                                            name="newPassword"
                                            class="form-control"
                                            validator="vm.action.rules.newPasswd"
                                            placeholder="{{'resetpasswd.newPasswd' | translate}}"
                                            ng-change="vm.action.validFormItem(resetPasswdForm, 'confirmPasswd')"
                                            ng-model="vm.newPasswd">
                                        <span class="han-validator-error">
                                            {{resetPasswdForm.newPassword.$error.errMessage | translate}}
                                        </span>
                                    </div>
                                </div>
                                <!-- Confirm New Password -->
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input
                                            type="password" 
                                            name="confirmPasswd"
                                            class="form-control" 
                                            validator="vm.action.rules.confirmPasswd"
                                            placeholder="{{'resetpasswd.confirmPasswd' | translate}}"
                                            ng-model="vm.confirmPasswd">
                                        <span class="han-validator-error">
                                            {{resetPasswdForm.confirmPasswd.$error.errMessage | translate}}
                                        </span>
                                    </div>
                                </div>

                                <!-- Apply/Cancel -->
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="pull-right">
                                            <button class="btn btn-primary" ng-click="vm.resetPasswd()" ng-disabled="vm.action.validateForm(resetPasswdForm)">{{'resetpasswd.reset' | translate }}</button>
                                            <button class="btn btn-default" ng-click="vm.backToLogin()">{{'resetpasswd.cancel' | translate}}</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>